
.ventana_ejercicio {
	font-size: 12px;
}

.boton_campo {
	padding: 2px;
}

.ventana_ejercicio>.z-window-content {
	font-size: 1em;
}

.ventana_ejercicio>.z-window-content>.z-include {
	font-size: 1em;
}

.ventana_ejercicio>.z-window-content>.z-include>.z-groupbox {
	padding: 10px;
	font-size: 1em;
}

.contenedor_encabezado_ejercicio {
	padding: 10px;
	font-size: 1em;
}

.encabezado_ejercicio {
	font-family: Arial Black;
	font-size: 1.8em;
	color: coral;
}

.subencabezado_ejercicio {
	font-family: Arial Black;
	font-size: 1.6em;
	color: coral;
}

.contenedor_encabezado_seccion {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
}

.encabezado_seccion {
	font-family: Arial Black;
	font-size: 1.4em;
	color: black;
}

.contenedor_datos {
	padding-bottom: 5px;
}

.texto_enunciado {
	padding-left: 20px;
	padding-right: 20px;
}

.contenedor_boton_run {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.seccion.z-groupbox>.z-groupbox-header {
	font-size: 1em;
}

.seccion.z-groupbox>.z-groupbox-header>.seccion.z-caption {
	font-size: 1.15em;
}

.seccion.z-groupbox>.z-groupbox-header>.seccion.z-caption>.z-caption-content
	{
	font-family: Arial;
	font-weight: bold;
	color: #444444;
}

.subseccion.z-groupbox>.z-groupbox-header>.subseccion.z-caption {
	font-size: 1.05em;
}

.subseccion.z-groupbox>.z-groupbox-header>.subseccion.z-caption>.z-caption-content
	{
	font-family: Arial;
	font-weight: bold;
	color: #555555;
}

.z-label.nombre_campo {
	padding-right: 5px;
	font-family: Arial;
	font-size: 0.9em;
	font-weight: bold;
	color: #666666;
}

.z-div.contenedor_encabezado_datos {
	padding: 3px;
	background-color: #EEEEEE;
}

.z-div.contenedor_encabezado_datos {
	padding: 3px;
	background-color: #EEEEEE;
}

.encabezado_datos {
	padding: 3px;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	color: #555555;
}

.contenedor_cuerpo_seccion {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.contenedor_cuerpo_enunciado {
	padding-right: 10px;
	padding-left: 10px;
}

