<window hflex="1" vflex="1" sclass="ventana_ejercicio"
	validationMessages="@id('vmsgs')" apply="org.zkoss.bind.BindComposer"
	contentStyle="overflow:auto"
	viewModel="@id('vm') @init('app.tp3.puntoayb.presentacion.TP3PuntoAYBVM')">
	<vlayout sclass="contenedor_encabezado_ejercicio">
		<label value="@load(vm.nombrePaquete)"
			sclass="encabezado_ejercicio" />
		<label value="@load(vm.nombreEjercicio)"
			sclass="subencabezado_ejercicio" />
	</vlayout>
	<include src="@load(vm.enunciadoSrc)" />
	<include src="@load(vm.solucionSrc)" />
</window>
