<groupbox apply="org.zkoss.bind.BindComposer"
	viewModel="@id('solucionVM') @init('app.tp3.puntoayb.presentacion.TP3PuntoAYBSolucionVM')"
	sclass="seccion" validationMessages="@id('vmsgs')">
	<caption sclass="seccion" label="Solución" />
	<div sclass="contenedor_cuerpo_seccion">
		<radiogroup onCheck="@command('clear')"
			selectedItem="@save(solucionVM.tipoGenerador, before='clear')">
			<radio label="Uniforme" value="Uniforme" />
			<space />
			<radio label="Exponencial" value="Exponencial" />
			<space />
			<radio label="Poisson" value="Poisson" />
			<space />
			<radio label="Normal" value="Normal" />
		</radiogroup>
	</div>
	<include src="@load(solucionVM.inputSrc)" />
	<include src="@load(solucionVM.resultadosSrc)" />
</groupbox>
