<hlayout hflex="1">
	<div sclass="contenedor_cuerpo_seccion" hflex="1">
		<tabbox hflex="1">
			<tabs>
				<tab label="Tabla de vectores de estado" />
				<tab label="Resultados simulación" />
			</tabs>
			<tabpanels>
				<tabpanel>
					<include src="@load(solucionVM.tablaVectoresEstadoSrc)" />
				</tabpanel>
				<tabpanel>
					<include src="@load(solucionVM.resultadosSimulacionSrc)" />
				</tabpanel>
			</tabpanels>
		</tabbox>
	</div>
</hlayout>
