<groupbox sclass="seccion">
	<caption sclass="seccion" label="Enunciado" />
	<div sclass="contenedor_cuerpo_enunciado">
		<html>
			
			<![CDATA[<p style="font-family: Arial; font-size:
			1.1em;">Sea un lugar de inscripción de exámenes para alumnos
			de la UNVM. Existen cinco equipos para inscribirse y la
			inscripción demora de <font color="red">cinco</font> a <font
			color="red">ocho</font> minutos uniformemente distribuida.
			Los alumnos llegan a inscribirse con una distribución
			exponencial negativa de media <font color="red">dos</font>
			minutos. Cada <font color="red">una</font> hora más/menos
			<font color="red">tres</font> minutos llega una persona de
			sistemas que hace mantenimiento preventivo a cada
			computadadora, empezando por la primera que esté libre (si
			hay varias, elige cualquiera), luego a otra y así
			sucesivamente, demorando un tiempo en cada equipo que
			corresponde a una normal de media <font
			color="red">tres</font> minutos y desviación estándar <font
			color="red">diez</font> segundos. Tiene prioridad sobre los
			alumnos.</p> <p style="font-family: Arial; font-size:
			1.1em;">Si un alumno llega y hay más de cuatro alumnos
			esperando, se va y regresa a la media hora.</p> <p
			style="font-family: Arial; font-size: 1.1em;">Determine el %
			de alumnos que se van para regresar más tarde.</p> <p
			style="font-family: Arial; font-size: 1.1em;">Determine la
			capacidad de inscripción del sistema por hora en promedio (y
			por máquina).</p> ]]>
			
		</html>
	</div>
</groupbox>
