<zk>
	<div sclass="contenedor_cuerpo_seccion">
		<panel sclass="contenedor_datos">
			<panelchildren>
				<div sclass="contenedor_encabezado_datos">
					<label value="Parámetros a ingresar"
						sclass="encabezado_datos" />
				</div>
				<grid sizedByContent="true">
					<columns>
						<column width="395px" />
						<column width="395px" />
						<column />
					</columns>
					<rows>
						<row>
							<hlayout
								form="@id('fx') @load(solucionVM.tP1PuntoB, after='clear') @save(solucionVM.tP1PuntoB, before = 'correr')">
								<label hflex="1"
									value="Cantidad de números:" sclass="nombre_campo" />
								<hlayout hflex="1">
									<textbox width="150px"
										instant="true" mold="rounded"
										onChange="@command('limpiarResultados')"
										value="@save(fx.cantidadNumeros) @converter(solucionVM.conversorDeInt) @validator(solucionVM.ingresarCantidadNumerosValidator, cantidadNumeros=fx.cantidadNumeros)" />
									<image
										tooltiptext="@load(not empty vmsgs['ingresarCantidadNumeros'] ? vmsgs['ingresarCantidadNumeros'] : solucionVM.defaultTooltiptextIngresarCantidadNumeros)"
										src="@load(solucionVM.ingresarCantidadNumerosIconSrc)" />
								</hlayout>
							</hlayout>
						</row>
						<row>
							<hlayout
								form="@id('fx') @load(solucionVM.tP1PuntoB.serie.histogramaObservadas, after='clear') @save(solucionVM.tP1PuntoB.serie.histogramaObservadas, before = 'correr')">
								<label hflex="1"
									value="Cantidad de intervalos:" sclass="nombre_campo" />
								<hlayout hflex="1">
									<textbox width="150px"
										instant="true" mold="rounded"
										onChange="@command('limpiarResultados')"
										value="@save(fx.cantidadIntervalos) @converter(solucionVM.conversorDeInt) @validator(solucionVM.ingresarCantidadIntervalosValidator, cantidadIntervalos=fx.cantidadIntervalos)" />
									<image
										tooltiptext="@load(not empty vmsgs['ingresarCantidadIntervalos'] ? vmsgs['ingresarCantidadIntervalos'] : solucionVM.defaultTooltiptextIngresarCantidadIntervalos)"
										src="@load(solucionVM.ingresarCantidadIntervalosIconSrc)" />
								</hlayout>
							</hlayout>
						</row>
					</rows>
				</grid>
			</panelchildren>
		</panel>
	</div>
	<div sclass="contenedor_boton_run">
		<button tooltiptext="Solución" dir="normal"
			image="./images/run.png"
			disabled="@load(not solucionVM.correrHabilitado)"
			onClick="@command('correr')" />
	</div>
</zk>