<div apply="org.zkoss.bind.BindComposer"
	viewModel="@id('graficaVM') @init('app.presentacion.HistogramaVM', serie=solucionVM.tP1PuntoC.serie)">
	<hlayout sclass="contenedor_cuerpo_seccion">
		<image content="@load(graficaVM.imagen)" />
		<radiogroup onCheck="@command('cambiarImagen')"
			selectedItem="@bind(graficaVM.serieAMostrar)">
			<vlayout>
				<space />
				<space />
				<radio label="Frecuencias observadas"
					value="Frecuencias observadas" />
				<radio label="Frecuencias esperadas"
					value="Frecuencias esperadas" />
				<radio label="Ambas frecuencias"
					value="Ambas frecuencias" />
			</vlayout>
		</radiogroup>
	</hlayout>
</div>
